.ct-axure-shape-menutable-Table {
  width: 100%;
  height: 100%;
  min-width: 200px;
  min-height: 100px;
  box-sizing: border-box;
  > .CT-UI-Table {
    width: 100%;
    height: 100%;
    min-width: 200px;
    min-height: 100px;
  }
}
