.ct-axure-summary-tool-base-Vline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 100%;

  &::before,
  &::after {
    flex-shrink: 0;
    width: 8px;
    height: 8px;
    background-color: @common-promary-active-color;
    content: '';
  }

  > .ct-axure-summary-tool-base-Vline-inner {
    flex-grow: 1;
    width: 2px;
    min-height: 0;
    background-color: @common-promary-disabled-color;
  }
}
