.ct-axure-shape-form-Radio {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  word-break: break-word;

  &.require:before {
    content: '*';
    flex-shrink: 0;
    color: red;
    margin: 0 10px;
  }
  
  .ct-axure-shape-form-Radio-radio {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
  }
  .ct-axure-shape-form-Radio-radio-label {
    flex-grow: 1;
    min-width: 0;
    font-size: 12px;
  }
}
