@import 'SubMenu';
// 123
.CT-UI-ContextMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;

  .CT-UI-ContextMenu-SubMenu {
    .CT-UI-ContextMenu-SubMenu();
  }
}
