@import 'MenuItem';

.CT-UI-ContextMenu-SubMenu() {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  outline: 1px solid @common-promary-disabled-color;
  box-shadow: 2px 2px 2px @common-promary-disabled-color;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 100%;
    background-color: @common-promary-border-color;
    border-right: 1px solid @common-promary-disabled-color;
    content: '';
  }

  > .CT-UI-ContextMenu-MenuItem {
    .CT-UI-ContextMenu-MenuItem();
  }

  > .CT-UI-ContextMenu-MenuItem-Separation {
    .CT-UI-ContextMenu-MenuItem-Separation();
  }
}
