@import "MenuItem";

.CT-UI-ContextMenu-SubMenu() {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px @common-promary-disabled-color;
  outline: 1px solid @common-promary-disabled-color;
  background-color: #ffffff;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 28px;
    background-color: @common-promary-border-color;
    border-right: 1px solid @common-promary-disabled-color;
  }

  > .CT-UI-ContextMenu-MenuItem {
    .CT-UI-ContextMenu-MenuItem()
  }

  > .CT-UI-ContextMenu-MenuItem-Separation {
    .CT-UI-ContextMenu-MenuItem-Separation()
  }
}
