.ct-axure-shape-tool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  box-sizing: border-box;

  .ct-axure-shape-tool-pattern {
    display: flex;
    justify-content: center;
    align-items: center;

    .ct-axure-shape-tool-pattern-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
    }
  }

  .ct-axure-shape-tool-name {
    margin-top: 10px;
    color: @common-primary-color;
    font-size: 14px;
  }

  &:hover {
    outline: 1px solid @common-promary-active-color;
    background-color: rgba(0,122,255, .3);
  }
}
