.ToolBox {
  .CT-UI-Accordion {
    .CT-UI-AccordionItem {
      & ::-webkit-details-marker {
        display: none;
      }

      & ::-moz-list-bullet {
        display: none;
      }

      .CT-UI-AccordionItem-Trigger {
        // close
        &:before {
          font-family: FontAwesome;
          content: '\f105';
          font-size: 21px;
          margin-left: 10px;
          color: #ccc;
          font-weight: bold;
        }

        border-bottom: 1px solid rgba(0, 0, 0, .1);

        .CT-UI-AccordionItem-Trigger-Name {
          font-size: 14px;
          height: auto;
        }
      }

      .CT-UI-AccordionItem-Content {
        > .g-grid-list {
          padding: 2px;
        }
      }
    }

    .CT-UI-AccordionItem[open] {
      .CT-UI-AccordionItem-Trigger {
        // open
        &:before {
          font-family: FontAwesome;
          content: '\f107';
          font-size: 21px;
          margin-left: 10px;
          color: #ccc;
          font-weight: bold;
        }
      }
    }

  }
}