.ComponentPropertyDescriptionSettingModal {
  height: 300px;
  background-color: #fff;

  .CT-UI-Tab {
    height: 100%;

    > .CT-UI-Tab-Content {
      > .CT-UI-Tab-Panel {
        overflow-y: auto;
      }
    }
  }
}
