.ComponentPropertyDescriptionSettingModal {
  &-SettingTab {
    display: flex;
    align-items: flex-start;

    &-GroupSet {
      flex-grow: 1;
      flex-shrink: 0;
      min-width: 0;
      border: 1px solid @common-promary-disabled-color;

      &-ToolBar {
        margin: 15px 0;

        .AddGroupBtn,
        .UpGroupBtn,
        .DownGroupBtn,
        .DeleteGroupBtn {
          margin-left: 10px;
          font-size: 20px;
          //font-weight: 400;
        }

        .AddGroupBtn.Disable,
        .UpGroupBtn.Disable,
        .DownGroupBtn.Disable,
        .DeleteGroupBtn.Disable {
          color: gray;
        }

        .AddGroupBtn {
          color: green;
        }

        .UpGroupBtn {
          color: @common-promary-active-color;
        }

        .DownGroupBtn {
          color: @common-promary-active-color;
        }

        .DeleteGroupBtn {
          color: red;
        }
      }
    }

    &-GroupFieldsSet {
      flex-grow: 1;
      flex-shrink: 0;
      min-width: 0;
      border: 1px solid @common-promary-disabled-color;

      &-ToolBar {
        margin: 15px 0;

        .UpFieldBtn,
        .DownFieldBtn,
        .DeleteFieldBtn {
          margin-left: 10px;
          font-size: 20px;
          //font-weight: 400;
        }

        .UpFieldBtn.Disable,
        .DownFieldBtn.Disable,
        .DeleteFieldBtn.Disable {
          color: gray;
        }

        .UpFieldBtn {
          color: @common-promary-active-color;
        }

        .DownFieldBtn {
          color: @common-promary-active-color;
        }

        .DeleteFieldBtn {
          color: red;
        }
      }
    }
  }
}
