.FunctionalPanel {
  height: 100%;
  .FunctionalPanel-Item {
    position: relative;
    .AX-AccordionItem-Trigger {
      height: 30px;
    }
    .AX-AccordionItem-Content {
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 250px;
    }
  }
}