.CT-UI-Form-Field {
  transition: all .2s;

  input, textarea, select {
    width: 100%;
  }
}

.CT-UI-Form-Field.Active {
  outline: 1px solid @common-promary-active-color;
  input, textarea, select {
    outline: 0;
    border: 0;
  }
}
