.ct-axure-summary-tool-base-PrimaryButton {
  box-sizing: border-box;
  width: 60px;
  height: 30px;
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  background-color: @common-promary-active-color;
  border-radius: 3px;
}
