.ComponentPropertyPropertyTab-InlineFrame {
  margin: 15px;
  > .ComponentPropertyPropertyTab-InlineFrame-ChooseText {
    color: @common-promary-active-color;
    text-decoration: underline;
  }

  > .ComponentPropertyPropertyTab-InlineFrame-ChooseResult {
  }
}
