.ComponentPropertyPropertyTab-InlineFrame {
  margin: 15px;
  > .ComponentPropertyPropertyTab-InlineFrame-ChooseText {
    color: #007aff;
    text-decoration: underline;
  }

  > .ComponentPropertyPropertyTab-InlineFrame-ChooseResult {

  }
}
