.CT-UI-TreeSettingPicker {
  > .CT-UI-TreeSettingPicker-Tool {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    > .fa,.far,.fas {
      width: 20px;
      height: 20px;
      font-size: 20px;
      margin-right: 10px;
      text-align: center;

      &.disable {
        color: @common-promary-disabled-color;
      }
    }
  }
}
