.CT-UI-TreeSettingPicker {
  > .CT-UI-TreeSettingPicker-Tool {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;

    > .fa,
    .far,
    .fas {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      font-size: 20px;
      text-align: center;

      &.disable {
        color: @common-promary-disabled-color;
      }
    }
  }
}
