.ct-axure-summary-tool-menutable-VMenu {
  width: 50px;
  height: 100%;
  box-sizing: border-box;
  font-size: 30px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
