.CT-UI-BackgroundImgImportPicker {
  display: flex;
  align-items: center;

  > .CT-UI-BackgroundImgImportPicker-BackgroundImg {
    img {
      width: 50px;
      height: 50px;
      background-color: #fff;
      border: 1px solid @common-promary-border-color;
    }
  }

  > .CT-UI-BackgroundImgImportPicker-Import,
  > .CT-UI-BackgroundImgImportPicker-Empty {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid @common-promary-border-color;

    &:hover {
      background-color: rgba(0, 122, 255, 0.5);
      border-color: @common-promary-active-color;
    }

    &.disabled {
      background-color: @common-promary-disabled-color;
      border: 1px solid @common-promary-disabled-color;
    }
  }

  > .CT-UI-BackgroundImgImportPicker-Import {
    margin: 0 5px;
  }

  > .CT-UI-BackgroundImgImportPicker-Empty {
    margin: 0 5px;
  }
}
