.CT-UI-Table {
  width: 100%;
  background-color: #fff;
  border: 1px solid @common-promary-disabled-color;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  > .CT-UI-Table-Inner {
    display: table;
    width: 100%;
    // 列头
    > .CT-UI-Table-Header {
      display: table-row;
      width: 100%;

      // 列头项
      > .CT-UI-Table-Header-Item {
        display: table-cell;
        box-sizing: border-box;
        padding: 15px 10px;
        font-weight: 500;
        word-break: break-word;
        background: #fafafa;
        border-bottom: 1px solid @common-promary-border-color;

        &.active {
          font-weight: bold;
        }
      }

      // 列头Cell的对其方式
      > .CT-UI-Table-Header-Item.align-left {
        text-align: left;
      }

      > .CT-UI-Table-Header-Item.align-center {
        text-align: center;
      }

      > .CT-UI-Table-Header-Item.align-right {
        text-align: right;
      }

      // 列头Cell自适应
      > .CT-UI-Table-Header-Item.auto {
        //flex-grow: 1;
        //flex-shrink: 1;
        //min-width: 0;
      }
    }

    // 表格体
    > .CT-UI-Table-Body {
      display: table-row-group;
      width: 100%;

      // 行
      > .CT-UI-Table-Body-Row {
        display: table-row;
        border-bottom: 1px solid @common-promary-border-color;
        transition: background-color 0.2s linear;
        // 单元格
        > .CT-UI-Table-Cell {
          display: table-cell;
          box-sizing: border-box;
          padding: 10px;
          word-break: break-word;
        }

        // 单元格的对其方式
        > .CT-UI-Table-Cell.align-left {
          text-align: left;
        }

        > .CT-UI-Table-Cell.align-center {
          text-align: center;
        }

        > .CT-UI-Table-Cell.align-right {
          text-align: right;
        }

        // 单元格自适应
        > .CT-UI-Table-Cell.auto {
          //flex-grow: 1;
          //flex-shrink: 1;
          //min-width: 0;
        }

        // hover
        &:hover {
          background-color: rgba(0, 122, 255, 0.5);
        }
      }

      // 行选中
      > .CT-UI-Table-Body-Row.Selected {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  // 列锁定
  //&.columnLock {
  //  display: flex;
  //  flex-direction: column;
  //
  //  > .CT-UI-Table-Header {
  //    flex-shrink: 0;
  //  }
  //
  //  > .CT-UI-Table-Body {
  //    flex-grow: 1;
  //    min-height: 0;
  //    overflow-y: auto;
  //  }
  //}
}
