.CT-UI-Table-Pagin {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;

  > .CT-UI-Table-Pagin-Total {
    font-size: 12px;
  }

  > .CT-UI-Table-Pagin-Indicat {
    display: flex;
    align-items: center;
    margin: 0 15px;

    > .CT-UI-Table-Pagin-Indicat-Pre,
    > .CT-UI-Table-Pagin-Indicat-Next {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      font-size: 20px;

      &.disabled {
        color: @common-promary-disabled-color;
      }
    }

    > .CT-UI-Table-Pagin-Indicat-Inner {
      display: flex;
      flex-grow: 1;
      align-items: center;
      min-width: 0;
      margin: 0 10px;

      > .CT-UI-Form-Field {
        margin-right: 5px;

        > input[type='number'] {
          width: 30px;
          height: 12px;
          text-align: center;
        }
      }
    }
  }

  > .CT-UI-Table-Pagin-SizeChanger {
  }
}
