.CT-UI-Tab {
  display: flex;
  flex-direction: column;

  .CT-UI-Tab-Bar {
    display: flex;
    flex-shrink: 0;
    height: 30px;

    .CT-UI-Tab-Bar-Inner {
      flex-grow: 1;
      min-width: 0;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;

      .CT-UI-Tab-Bar-Item {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        min-width: 80px;
        height: 100%;
        padding: 5px 10px;
        font-size: 14px;
        background-color: @common-promary-border-color;
        border-top: 1px solid @common-promary-border-color;
        border-right: 1px solid @common-promary-border-color;
        border-bottom: 1px solid @common-promary-border-color;

        .CT-UI-Tab-Bar-Item-Inner {
          flex-grow: 1;
          min-width: 0;
          //white-space: nowrap;
          //overflow: hidden;
          //text-overflow: ellipsis;
        }

        .CT-UI-Tab-Bar-Item-Trigger {
          margin-left: 5px;
          color: @common-promary-disabled-color;
          font-size: 16px;
        }
      }

      .CT-UI-Tab-Bar-Item.Active {
        font-weight: bold;
        font-size: 16px;
        background-color: #fff;
        border-top: 1px solid @common-promary-border-color;
        border-bottom: 0;
      }
    }

    .CT-UI-Tab-Bar-Trigger {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      .fa {
        color: @common-promary-disabled-color;
        font-size: 25px;
      }
    }
  }

  .CT-UI-Tab-Content {
    flex-grow: 1;
    min-height: 0;
  }
}
