@active-color: #CCEBF8;

.CT-UI-TreeNode {
  overflow: auto;
  .CT-UI-TreeNode-Summary {
    display: flex;
    align-items: center;
    outline:0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.active {
      background-color: @active-color;
    }

    .CT-UI-TreeNode-Summary-bcHook {
      position: absolute;
      left: 0;
      width: 100%;
      background-color: @active-color;
      z-index: -1;
    }

    .CT-UI-TreeNode-Summary-Inner {
      width: 100%;
      .CT-UI-TreeNode-Icon {
        margin:0 10px 0 5px;
        font-size: 14px;
      }
    }
  }

  .CT-UI-TreeNode-Children {
    position: relative;
    box-sizing: border-box;
    padding-left: 20px;
  }

  &.Active {
    > .CT-UI-TreeNode-Summary {
      > .CT-UI-TreeNode-Summary-Inner {
        > .CT-UI-TreeNode-Name {
          font-weight: bold;
        }
      }
    }
  }

  &.Leaf {
    & ::-webkit-details-marker {
      display: none;
    }

    .CT-UI-TreeNode-Summary {
      .CT-UI-TreeNode-Icon {
        margin-left: 6px;
      }
    }
  }

  &.Leaf {
    & ::-moz-list-bullet {
      font-size: 0;
      float: left;
    }
  }
}