.ComponentPropertyDescriptionSettingModal {
  background-color: #fff;
  &-FieldTab {
    display: flex;
    align-items: flex-start;
    &-FieldSet {
      flex-grow: 1;
      min-width: 0;
      flex-shrink: 0;
      border: 1px solid #ccc;
    }
  }
}
