.ComponentPropertyDescriptionTab {
  box-sizing: border-box;
  padding: 10px;
  .ComponentPropertyDescriptionTab-GroupSelect {

  }

  .ComponentPropertyDescriptionTab-Tool {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ComponentPropertyDescriptionTab-Fields {

  }
}