.CanvasTabPanelPropertyStyleTab {
  padding: 0 20px;
  > .CanvasTabPanelPropertyStyleTab-GridList {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;

    > tbody {
      > tr {
        &:not(:last-child) {
          border-bottom:solid 1px #d0dee5;
        }
      }
    }
  }
}
