@import '../define';

.CanvasTabPanelPropertyStyleTab {
  padding: 0 20px;
  > .CanvasTabPanelPropertyStyleTab-GridList {
    box-sizing: border-box;
    width: 100%;
    border-collapse: collapse;

    > tbody {
      > tr {
        &:not(:last-child) {
          border-bottom: solid 1px
            @canvaspanel-property-canvastabpanel-property-style-tab-table-not-children;
        }
      }
    }
  }
}
