.ct-axure-summary-tool-form-select {
  display: flex !important;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 50px;
  height: 100%;
  font-size: 30px !important;
}
