.ct-axure-summary-tool {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
  padding: 5px;
  .ct-axure-summary-tool-share {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 10px;
  }

  .ct-axure-summary-tool-name {
    font-size: 14px;
  }
}
