.ct-selectable-select {
  /* position: fixed; */
  position: absolute;
  z-index: 99999;
  box-sizing: border-box;
  width: 0;
  height: 0;
  transform: translateZ(0);
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
}
