.ct-axure-shape-tool-form-submit {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid @common-primary-color;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 12px;
}
