.CT-UI-ChooseTarget {
  > .CT-UI-ChooseTarget-InsideWrap {
    //> .CT-UI-ChooseTarget-InsideWrap-Radio {
    //
    //}
    > .CT-UI-ChooseTarget-InsideWrap-Tree {
      position: relative;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 20px;
      border: 1px solid @common-promary-disabled-color;

      > .CT-UI-Tree {
        max-height: 200px;
        overflow: auto;
      }

      > .CT-UI-ChooseTarget-InsideWrap-Tree-Mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: @common-promary-border-color;
      }
    }
  }

  > .CT-UI-ChooseTarget-OuterWrap {
    //> .CT-UI-ChooseTarget-OuterWrap-Radio {
    //
    //}
    > .CT-UI-ChooseTarget-OuterWrap-InputWrap {
      display: flex;
      align-items: center;
      margin: 20px 0 20px 20px;

      > .CT-UI-ChooseTarget-OuterWrap-Label {
        flex-shrink: 0;
        margin-right: 10px;
      }

      > .CT-UI-ChooseTarget-OuterWrap-Input {
        flex-grow: 1;
        min-width: 0;

        > input {
          width: 100%;
        }
      }
    }
  }
}
