.AX-Tab {
  display: flex;
  flex-direction: column;

  .AX-Tab-Bar {
    display: flex;
    height: 30px;
    flex-shrink: 0;

    .AX-Tab-Bar-Inner {
      flex-grow: 1;
      min-width: 0;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;

      .AX-Tab-Bar-Item {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 5px 10px;
        min-width: 80px;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, .1);
        border-right: 1px solid rgba(0, 0, 0, .1);
        border-top: 1px solid rgba(0, 0, 0, .1);
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        font-size: 14px;

        .AX-Tab-Bar-Item-Inner {
          flex-grow: 1;
          min-width: 0;
          //white-space: nowrap;
          //overflow: hidden;
          //text-overflow: ellipsis;
        }

        .AX-Tab-Bar-Item-Trigger {
          margin-left: 5px;
          font-size: 16px;
          color: #ccc;
        }
      }

      .AX-Tab-Bar-Item.Active {
        background-color: #fff;
        font-size: 16px;
        font-weight: bold;
        border-top: 1px solid rgba(0, 0, 0, .1);
        border-bottom: 0;
      }
    }

    .AX-Tab-Bar-Trigger {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      .fa {
        color: #ccc;
        font-size: 25px;
      }
    }
  }

  .AX-Tab-Content {
    flex-grow: 1;
    min-height: 0;
  }
}