.CT-UI-ColorPicker {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  background-color: #fff;
  border: 1px solid @common-promary-disabled-color;

  &.disabled {
    background-color: @common-promary-border-color;
  }

  &:hover {
    background-color: rgba(0, 122, 255, 0.5);
    border-color: @common-promary-active-color;
  }

  > .CT-UI-ColorPicker-Color {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid @common-primary-color;
  }

  > .CT-UI-ColorPicker-Arrow {
    color: @common-promary-disabled-color;
    font-size: 14px;
    transform: rotate(90deg);
  }
}
