.CT-UI-ColorPicker {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 5px;
  background-color: #fff;

  &.disabled {
    background-color: rgba(0, 0, 0, .1);
  }

  &:hover {
    background-color: rgba(0, 122, 255, .5);
    border-color: #007aff;
  }

  > .CT-UI-ColorPicker-Color {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    margin-right: 10px;
  }

  > .CT-UI-ColorPicker-Arrow {
    color: #ccc;
    font-size: 14px;
    transform: rotate(90deg);
  }
}