.CT-UI-TableSettingPicker {
  > .CT-UI-TableSettingPicker-ToolGlobal {
    margin-bottom: 15px;

    > .g-flex {
      margin-bottom: 10px;

      > .CT-UI-Form-Field {
        width: 50px;
        margin-right: 15px;
      }
    }
  }

  > .CT-UI-TableSettingPicker-ColumnTool,
  > .CT-UI-TableSettingPicker-RowTool {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    > .fa {
      width: 20px;
      height: 20px;
      font-size: 20px;
      margin-right: 10px;
      text-align: center;

      &.disable {
        color: #ccc;
      }
    }
  }
}
