.CT-UI-AccordionItem {
  & ::-webkit-details-marker {
    direction: ltr;
    color: gray;
    margin-left: .5ch;
  }

  .CT-UI-AccordionItem-Trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    .CT-UI-AccordionItem-Trigger-Name {
      height: 100%;
    }
  }
}

.CT-UI-AccordionItem {
  & ::-moz-list-bullet {
    direction: ltr;
    color: gray;
    margin-left: .5ch;
  }
}