.CT-UI-AccordionItem {
  & ::-webkit-details-marker {
    display: none;
    //direction: ltr;
    //color: gray;
    //margin-left: .5ch;
  }

  &[open] {
    > .CT-UI-AccordionItem-Trigger {
      &:before {
        font-family: FontAwesome;
        content: '\f103';
        font-size: 18px;
        margin: 0 5px 0 10px;
        color: gray;
        transform: rotate(0deg);
        font-weight: bold;
      }
    }
  }

  > .CT-UI-AccordionItem-Trigger {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;

    &:before {
      font-family: FontAwesome;
      content: '\f102';
      font-size: 18px;
      margin: 0 5px 0 10px;
      color: gray;
      transform: rotate(0deg);
      font-weight: bold;
    }

    > .CT-UI-AccordionItem-Trigger-Name {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
    }
  }
}

.CT-UI-AccordionItem {
  & ::-moz-list-bullet {
    display: none;
    //direction: ltr;
    //color: gray;
    //margin-left: .5ch;
  }
}
