.CT-UI-AccordionItem {
  .CT-UI-AccordionItem-Trigger.Card {
    box-sizing: border-box;
    border-top: 1px solid @common-promary-disabled-color;
    background-color: @common-promary-border-color;
  }
}
