.ct-axure-summary-tool-form-Submit {
  box-sizing: border-box;
  width: 60px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
  border: 1px solid @common-primary-color;
  border-radius: 3px;
}
