.FunctionalPanel {
  height: 100%;
  .FunctionalPanel-Item {
    position: relative;
    .CT-UI-AccordionItem-Trigger {
      height: 30px;
    }
    .CT-UI-AccordionItem-Content {
      overflow: auto;
    }
  }

  //.FunctionalPanel-Item {
  //  > .CT-UI-AccordionItem-Content {
  //    position: absolute;
  //    left: 0;
  //    right: 0;
  //    top: 30px;
  //    bottom: 0;
  //  }
  //}

  // PagePanel
  //.FunctionalPanel-Item.PagePanelGroup {
  //  min-height: 150px;
  //}

  .FunctionalPanel-Item.PagePanelGroup {
    > .CT-UI-AccordionItem-Content {
      max-height: 150px;
    }
  }

  // ComponentPanel
  .FunctionalPanel-Item.ComponentGroup {
    > .CT-UI-AccordionItem-Content {
      position: absolute;
      left: 0;
      right: 0;
      top: 30px;
      bottom: 0;
    }
  }
}