.FunctionalPanel {
  height: 100%;
  .FunctionalPanel-Item {
    position: relative;
    .AX-AccordionItem-Trigger {
      height: 30px;
    }
    .AX-AccordionItem-Content {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  // PagePanel
  .FunctionalPanel-Item.PagePanelGroup {
    > .AX-AccordionItem-Content {
      max-height: 250px;
    }
  }

  // ComponentPanel
  .FunctionalPanel-Item.ComponentGroup {
    > .AX-AccordionItem-Content {
      position: absolute;
      left: 0;
      right: 0;
      top: 30px;
      bottom: 0;
    }
  }
}