.CT-UI-BorderShadowPicker {
  display: flex;
  .CT-UI-BorderShadowPicker-OutSetItem,
  .CT-UI-BorderShadowPicker-InSetItem {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 5px;
    background-color: #fff;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      background-color: rgba(0, 122, 255, .5);
      border-color: #007aff;
    }

    > .CT-UI-BorderShadowPicker-Color {
      width: 15px;
      height: 15px;
      box-sizing: border-box;
      margin-right: 10px;
    }

    > .CT-UI-BorderShadowPicker-Arrow {
      color: #ccc;
      font-size: 14px;
      transform: rotate(90deg);
    }
  }

  .CT-UI-BorderShadowPicker-OutSetItem {
    > .CT-UI-BorderShadowPicker-Color {
      background-color: gray;
      box-shadow: 2px 2px 2px #ccc;
    }
  }

  .CT-UI-BorderShadowPicker-InSetItem {
    > .CT-UI-BorderShadowPicker-Color {
      background-color: #007aff;
      box-shadow: inset 2px 2px 2px #ccc;
    }
  }

}
