/*
   基本的列表
 */
.g-listview {
  margin-bottom: 15px;
}

.g-listview-item.border {
  border: 1px solid #f8f8f8;
}

.g-listview-item:not(.border):not(:last-child) {
  border-bottom: 1px solid #f8f8f8;
}
