.CanvasPanel {
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, .1);
  border-right: 1px solid rgba(0, 0, 0, .1);

  .AX-Tab {
    height: 100%;
    .CanvasPanel-TabDroppable {
      width: 100%;
      height: 100%;
      overflow: auto;
      .CanvasPanel-TabScroll {
        position: relative;
        width: 1000px;
        height: 500px;
      }
    }
  }
}