.ct-axure-summary-tool-base-Hline {
  width: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  &:before,
  &:after {
    flex-shrink: 0;
    content: '';
    width: 8px;
    height: 8px;
    background-color: @common-promary-active-color;
  }

  > .ct-axure-summary-tool-base-Hline-inner {
    flex-grow: 1;
    min-width: 0;
    height: 2px;
    background-color: @common-promary-disabled-color;
  }
}
