.ct-axure-shape.active {
  // 用border会被Inner覆盖掉一些border
  outline: 1px dashed limegreen;

  .ct-axure-shape-indicator-pointer {
    position: absolute;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 1px solid @common-primary-color;
  }

  .ct-axure-shape-indicator-pointer.lefttop {
    top: -4px;
    left: -4px;
  }

  .ct-axure-shape-indicator-pointer.righttop {
    top: -4px;
    right: -4px;
  }

  .ct-axure-shape-indicator-pointer.leftbottom {
    bottom: -4px;
    left: -4px;
  }

  .ct-axure-shape-indicator-pointer.rightbottom {
    right: -4px;
    bottom: -4px;
  }

  .ct-axure-shape-indicator-pointer.left {
    top: 50%;
    left: -4px;
    margin-top: -4px;
  }

  .ct-axure-shape-indicator-pointer.right {
    top: 50%;
    right: -4px;
    margin-top: -4px;
  }

  .ct-axure-shape-indicator-pointer.top {
    top: -4px;
    left: 50%;
    margin-left: -4px;
  }

  .ct-axure-shape-indicator-pointer.bottom {
    bottom: -4px;
    left: 50%;
    margin-left: -4px;
  }
}
