.ct-axure-range-select-shape {
  position: absolute;
  box-sizing: border-box;
  outline: 1px solid @common-promary-disabled-color;

  &-indicator-pointer {
    position: absolute;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    border: 1px solid @common-primary-color;
    background-color: #fff;
  }

  &-indicator-pointer.lefttop {
    top: -4px;
    left: -4px;
  }

  &-indicator-pointer.righttop {
    top: -4px;
    right: -4px;
  }

  &-indicator-pointer.leftbottom {
    bottom: -4px;
    left: -4px;
  }

  &-indicator-pointer.rightbottom {
    right: -4px;
    bottom: -4px;
  }

  &-indicator-pointer.left {
    left: -4px;
    top: 50%;
    margin-top: -4px;
  }

  &-indicator-pointer.right {
    right: -4px;
    top: 50%;
    margin-top: -4px;
  }

  &-indicator-pointer.top {
    top: -4px;
    left: 50%;
    margin-left: -4px;
  }

  &-indicator-pointer.bottom {
    bottom: -4px;
    left: 50%;
    margin-left: -4px;
  }
}
