.ct-axure-shape-base-Hline {
  position: relative;
  height: 100%;
  .ct-axure-shape-base-Hline-inner {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: @common-primary-color;
  }
}
