.ct-axure-shape-base-Hline {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .ct-axure-shape-base-Hline-inner {
    width: 100%;
    margin: 5px;
    height: 1px;
    background-color: #000;
  }
}
