.ct-axure-shape-base-Ellipse {
  //min-width: 300px;
  //min-height: 120px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #fff;
}
