.ct-axure-shape-menutable-Tree {
  box-sizing: border-box;
  width: 100%;
  min-width: 100px;
  height: 100%;
  min-height: 200px;
  > .CT-UI-Tree {
    width: 100%;
    min-width: 100px;
    height: 100%;
    min-height: 200px;
  }
}
