.CT-UI-FontFamilyPicker-FontFamilyWSDPicker {
  > .g-grid-list-item {
    margin-right: 0 !important;
    padding: 5px;
    text-align: center;
    border-top: 1px solid @common-promary-border-color;
    border-bottom: 1px solid @common-promary-border-color;
    border-left: 1px solid @common-promary-border-color;

    &.active {
      background-color: rgba(0, 122, 255, 0.3);
    }

    &:hover {
      background-color: rgba(0, 122, 255, 0.3);
    }

    &:last-child {
      border-right: 1px solid @common-promary-border-color;
    }
  }
}
