.ct-axure-summary-tool-base-LinkButton {
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #007aff;
  text-decoration: underline;
  font-weight: bold;
}
