.ct-axure-summary-tool-base-LinkButton {
  width: 60px;
  height: 30px;
  color: @common-promary-active-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-decoration: underline;
}
