.ct-axure-shape-form-List {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5px;

  &.require::before {
    flex-shrink: 0;
    margin: 0 10px;
    color: red;
    content: '*';
  }

  > .ct-axure-shape-form-List-list {
    flex-grow: 1;
    min-width: 0;
    height: 100%;
  }

  > .ct-axure-shape-form-List-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}
