//@import "../node_modules/font-awesome/less/font-awesome.less";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "./res/font/iconfont.css";
@import "./css/Flex.less";
@import "./css/GridList.less";
@import "./css/ListView.less";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  padding: 0;
  margin: 0;
}
