.ct-axure-shape-form-Checkbox {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5px;
  word-break: break-word;

  &.require::before {
    flex-shrink: 0;
    margin: 0 10px;
    color: red;
    content: '*';
  }

  .ct-axure-shape-form-Checkbox-checkbox {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
  }

  .ct-axure-shape-form-Checkbox-checkbox-label {
    flex-grow: 1;
    min-width: 0;
    font-size: 12px;
  }
}
