.CT-UI-Modal-Prompt {
  > .CT-UI-Modal-Prompt-Content {
    margin-bottom: 15px;
    word-break: break-word;
  }

  > .CT-UI-Modal-Prompt-Input {
    &.error {
      border: 1px solid red;
    }
  }

  > .CT-UI-Modal-Prompt-Error {
    margin-top: 15px;
    color: red;
    word-break: break-word;
  }
}
