.CT-UI-Modal-PromptCheckbox {
  display: flex;
  align-items: center;
  > .CT-UI-Modal-PromptCheckbox-Content {
    flex-grow: 1;
    min-width: 0;
    margin-right: 15px;
    word-break: break-word;
  }

  > .CT-UI-Modal-PromptCheckbox-Checkbox {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
  }
}
