.CanvasPanel {
  height: 100%;
  border-right: 1px solid @common-promary-border-color;
  border-left: 1px solid @common-promary-border-color;

  .CT-UI-Tab {
    height: 100%;
    > .CT-UI-Tab-Content {
      > .CT-UI-Tab-Panel.Active {
        position: relative;
      }
    }
  }
}
