.CT-UI-SelectOptionsPicker {
  > .CT-UI-SelectOptionsPicker-Tool {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    > .fa {
      width: 20px;
      height: 20px;
      text-align: center;
      &.fa-plus {
        color: green;
      }
      &.fa-long-arrow-alt-up {
        &.disable {
          color: gray;
        }
        color: @common-promary-active-color;
      }
      &.fa-long-arrow-alt-down {
        &.disable {
          color: gray;
        }
        color: @common-promary-active-color;
      }
      &.fa-times {
        color: red;
      }
      &.fa-times-circle {
        color: red;
      }

      font-size: 20px;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  // @common-promary-active-color
  // red
  // green

  > .CT-UI-SelectOptionsPicker-Inner {

  }
}
