.ct-axure-shape-form-Select {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  .ct-axure-shape-form-Select-select {
    width: 100%;
    height: 100%;
  }
}